body {
}



/*Blog Page Customization*/

section.one {
    padding: 0px 0;
}

section.two,
section.three,
section.four,
section.five,
section.seven,
section.eight,
section.ten{
    padding: 40px 0;
}

section.six {
    padding: 70px 0;
}

section.nine {
    padding: 65px 0;
}

.accordian-background {
    background-color: transparent !important;
}

.accordion-item {
    background-color: unset !important;
    border: 1px solid white;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed) {
    box-shadow: unset !important;
}

.custom-badge {
    background-color: #c2edf5 !important;
    color: #175aa9 !important;
    padding: 9px 10px;
    border-radius: 7px !important;
    font-weight: bold;
}

.bg-color {
    background: linear-gradient(orange, #ff7502) !important;
}

.rounded-button {
    border-radius: 35px;
    padding: 5px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(#29aae2,#2168be);
}


.rounded-button-blog {
    border-radius: 35px;
    padding: 5px 25px;
    background-color: #fff;
    color: #2168be;
    border: none;
    cursor: pointer;
}

section.one .text h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
}

section.two .heading-section-two h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
}

section.four .heading-section-two h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
}

section.five .headd h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

section.six h3 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}

section.seven h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}

section.seven .blog-paragraph p {
    padding: 35px 0;
}

section.eight h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    color: white;
}

.hero-image {
    background-image: url('/img/bluee.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.form-section-wrapper-blog {
    background-image: url('/img/simple-blue-Rectangle-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 575px) {
    section.two .heading-section-two h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
    }

    section.eight .custom-badge {
        margin-top: 25px;
    }

    section.four .heading-section-two h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
    }

    section.one,
    section.two,
    section.three,
    section.four,
    section.five {
        text-align: center;
    }

        section.three .row .border-end,
        section.ten .row .border-end {
            border-right: none !important;
        }

        section.two h5 {
            padding-top: 2rem;
        }

        section.four h5 {
            padding-top: 2rem;
        }

    section.singal-blog-one .text h3 {
        padding-top: 3rem;
        text-align: center;
    }

    section.singal-blog-one img {
        padding-top: 3rem;
        width: 100% !important;
    }

    section.singal-blog-three .Ist-row img {
        width: 100% !important;
    }

    section.one .text h3 {
        padding-top: 1.3rem !important;
    }

    section.one img {
        padding-top: 3rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    section.three .row .border-end,
    section.ten .row .border-end {
        border-right: none !important;
    }

    section.one img {
        padding-top: 3rem;
        width: 100% !important;
    }

    section.one .text h3 {
        text-align: center;
        padding-top: 1.3rem !important;
    }

    section.three .row .border-end {
        border-right: none !important;
    }

    section.eight .custom-badge {
        margin-top: 25px;
    }

    section.singal-blog-one .text h3 {
        padding-top: 3rem;
        text-align: center;
    }

    section.singal-blog-one img {
        padding-top: 3rem;
        width: 100% !important;
    }

    section.singal-blog-three .text-information {
        font-size: 10px;
    }

    section.singal-blog-three .Ist-row img {
        width: 100% !important;
    }
}
/* Tablets (Portrait and Landscape) */
@media (min-width: 768px) and (max-width: 991.98px) {

    section.two .heading-section-two h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
    }

    section.four .heading-section-two h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
    }

    section.eight h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
    }

    section.three .row .border-end,
    section.ten .row .border-end {
        border-right: none !important;
    }

    section.seven .blog-paragraph p {
        padding: 5px 0;
    }

    section.nine .d-flex {
        display: flex !important;
        flex-direction: column;
    }

    section.nine .ms-3 {
        margin-left: 0px !important;
    }

    section.nine img {
        width: 75% !important;
    }

    section.nine .custom-badge {
        margin-top: 1rem;
    }

    section.singal-blog-three .text-information {
        font-size: 10px;
    }

    section.singal-blog-three img {
        width: 100% !important;
    }
}



/* Small Desktops / Laptops */
@media (min-width: 992px) and (max-width: 1199.98px) {
    section.seven .blog-paragraph p {
        padding: 15px 0;
    }
}

/* Medium Desktops */
@media (min-width: 1200px) and (max-width: 1439.98px) {
    section.seven .blog-paragraph p {
        padding: 20px 0;
    }
}

/* Large Desktops / High-Resolution Screens */
@media (min-width: 1440px) {
}

.custom-input {
    position: relative;
}

    .custom-input input {
        border: none;
        border-bottom: 2px solid #ccd2d7;
        border-radius: 0;
        padding: 20px 0;
        width: 100%;
        outline: none;
    }

    .custom-input label {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        padding: 8px 0;
        width: 100%;
    }

/*Singal-Blog-Page Customization*/

/*Section One Customization*/


section.singal-blog-two,
section.singal-blog-three {
    padding: 40px 0;
}

section.singal-blog-one {
    padding: 0px 0;
}

    section.singal-blog-one .text h3 {
        font-size: 35px;
        font-weight: 700;
        line-height: 48px;
        color: white;
    }

.background-hero-image {
    background-image: url('/img/ae/webp/hero-bg-1.webp');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Section Two Customization*/

.custom-badge-section-two {
    background-color: #c2edf5 !important;
    color: #175aa9 !important;
    padding: 9px 10px;
    border-radius: 7px !important;
    font-weight: bold;
}

section.singal-blog-two h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
}


section.singal-blog-two .date-text {
    font-size: 14px !important;
}

/*Section three Customization*/

.custom-badge-section-three {
    background-color: #c2edf5 !important;
    color: #175aa9 !important;
    padding: 9px 10px;
    border-radius: 7px !important;
    font-weight: bold;
}

section.singal-blog-three .date-text {
    font-size: 14px !important;
}

/*Section four Customization*/



/*Section five Customization*/

.singal-blog-rounded-button {
    border-radius: 35px;
    padding: 5px 25px;
    background-color: #007bff;
    color: black;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(#f7f7f7,rgb(218, 220, 224));
}

section.singal-blog-three .summer-notes-image img {
    max-width: 100% !important
}

h2 {
    font-family: poppins-regular !important;
    color: #175aa9 !important;
}

p,
li,
u {
    font-family: poppins-regular !important;
    color: #6c757d !important;
}

.text-color {
    color: #6c757d !important;
}

/*Category Page Customization*/

section.category-section-one{
    padding:60px 0;
}
